/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-1-name: 's-1';
$s-1-x: 150px;
$s-1-y: 236px;
$s-1-offset-x: -150px;
$s-1-offset-y: -236px;
$s-1-width: 45px;
$s-1-height: 39px;
$s-1-total-width: 382px;
$s-1-total-height: 278px;
$s-1-image: '../img/sprite.png';
$s-1: (150px, 236px, -150px, -236px, 45px, 39px, 382px, 278px, '../img/sprite.png', 's-1', );
$s-2-name: 's-2';
$s-2-x: 0px;
$s-2-y: 236px;
$s-2-offset-x: 0px;
$s-2-offset-y: -236px;
$s-2-width: 64px;
$s-2-height: 42px;
$s-2-total-width: 382px;
$s-2-total-height: 278px;
$s-2-image: '../img/sprite.png';
$s-2: (0px, 236px, 0px, -236px, 64px, 42px, 382px, 278px, '../img/sprite.png', 's-2', );
$s-3-name: 's-3';
$s-3-x: 268px;
$s-3-y: 160px;
$s-3-offset-x: -268px;
$s-3-offset-y: -160px;
$s-3-width: 43px;
$s-3-height: 48px;
$s-3-total-width: 382px;
$s-3-total-height: 278px;
$s-3-image: '../img/sprite.png';
$s-3: (268px, 160px, -268px, -160px, 43px, 48px, 382px, 278px, '../img/sprite.png', 's-3', );
$s-4-name: 's-4';
$s-4-x: 193px;
$s-4-y: 91px;
$s-4-offset-x: -193px;
$s-4-offset-y: -91px;
$s-4-width: 47px;
$s-4-height: 33px;
$s-4-total-width: 382px;
$s-4-total-height: 278px;
$s-4-image: '../img/sprite.png';
$s-4: (193px, 91px, -193px, -91px, 47px, 33px, 382px, 278px, '../img/sprite.png', 's-4', );
$s-5-name: 's-5';
$s-5-x: 343px;
$s-5-y: 64px;
$s-5-offset-x: -343px;
$s-5-offset-y: -64px;
$s-5-width: 37px;
$s-5-height: 36px;
$s-5-total-width: 382px;
$s-5-total-height: 278px;
$s-5-image: '../img/sprite.png';
$s-5: (343px, 64px, -343px, -64px, 37px, 36px, 382px, 278px, '../img/sprite.png', 's-5', );
$s-6-name: 's-6';
$s-6-x: 84px;
$s-6-y: 236px;
$s-6-offset-x: -84px;
$s-6-offset-y: -236px;
$s-6-width: 46px;
$s-6-height: 40px;
$s-6-total-width: 382px;
$s-6-total-height: 278px;
$s-6-image: '../img/sprite.png';
$s-6: (84px, 236px, -84px, -236px, 46px, 40px, 382px, 278px, '../img/sprite.png', 's-6', );
$s-7-name: 's-7';
$s-7-x: 343px;
$s-7-y: 0px;
$s-7-offset-x: -343px;
$s-7-offset-y: 0px;
$s-7-width: 39px;
$s-7-height: 44px;
$s-7-total-width: 382px;
$s-7-total-height: 278px;
$s-7-image: '../img/sprite.png';
$s-7: (343px, 0px, -343px, 0px, 39px, 44px, 382px, 278px, '../img/sprite.png', 's-7', );
$s-8-name: 's-8';
$s-8-x: 268px;
$s-8-y: 91px;
$s-8-offset-x: -268px;
$s-8-offset-y: -91px;
$s-8-width: 50px;
$s-8-height: 49px;
$s-8-total-width: 382px;
$s-8-total-height: 278px;
$s-8-image: '../img/sprite.png';
$s-8: (268px, 91px, -268px, -91px, 50px, 49px, 382px, 278px, '../img/sprite.png', 's-8', );
$s-arrow-select-name: 's-arrow_select';
$s-arrow-select-x: 343px;
$s-arrow-select-y: 253px;
$s-arrow-select-offset-x: -343px;
$s-arrow-select-offset-y: -253px;
$s-arrow-select-width: 21px;
$s-arrow-select-height: 13px;
$s-arrow-select-total-width: 382px;
$s-arrow-select-total-height: 278px;
$s-arrow-select-image: '../img/sprite.png';
$s-arrow-select: (343px, 253px, -343px, -253px, 21px, 13px, 382px, 278px, '../img/sprite.png', 's-arrow_select', );
$s-bg-li-name: 's-bg_li';
$s-bg-li-x: 343px;
$s-bg-li-y: 167px;
$s-bg-li-offset-x: -343px;
$s-bg-li-offset-y: -167px;
$s-bg-li-width: 23px;
$s-bg-li-height: 23px;
$s-bg-li-total-width: 382px;
$s-bg-li-total-height: 278px;
$s-bg-li-image: '../img/sprite.png';
$s-bg-li: (343px, 167px, -343px, -167px, 23px, 23px, 382px, 278px, '../img/sprite.png', 's-bg_li', );
$s-bg-li-hover-name: 's-bg_li_hover';
$s-bg-li-hover-x: 343px;
$s-bg-li-hover-y: 210px;
$s-bg-li-hover-offset-x: -343px;
$s-bg-li-hover-offset-y: -210px;
$s-bg-li-hover-width: 23px;
$s-bg-li-hover-height: 23px;
$s-bg-li-hover-total-width: 382px;
$s-bg-li-hover-total-height: 278px;
$s-bg-li-hover-image: '../img/sprite.png';
$s-bg-li-hover: (343px, 210px, -343px, -210px, 23px, 23px, 382px, 278px, '../img/sprite.png', 's-bg_li_hover', );
$s-bulet-kompleks-name: 's-bulet_kompleks';
$s-bulet-kompleks-x: 150px;
$s-bulet-kompleks-y: 145px;
$s-bulet-kompleks-offset-x: -150px;
$s-bulet-kompleks-offset-y: -145px;
$s-bulet-kompleks-width: 55px;
$s-bulet-kompleks-height: 71px;
$s-bulet-kompleks-total-width: 382px;
$s-bulet-kompleks-total-height: 278px;
$s-bulet-kompleks-image: '../img/sprite.png';
$s-bulet-kompleks: (150px, 145px, -150px, -145px, 55px, 71px, 382px, 278px, '../img/sprite.png', 's-bulet_kompleks', );
$s-bulet-logo-name: 's-bulet_logo';
$s-bulet-logo-x: 0px;
$s-bulet-logo-y: 0px;
$s-bulet-logo-offset-x: 0px;
$s-bulet-logo-offset-y: 0px;
$s-bulet-logo-width: 98px;
$s-bulet-logo-height: 125px;
$s-bulet-logo-total-width: 382px;
$s-bulet-logo-total-height: 278px;
$s-bulet-logo-image: '../img/sprite.png';
$s-bulet-logo: (0px, 0px, 0px, 0px, 98px, 125px, 382px, 278px, '../img/sprite.png', 's-bulet_logo', );
$s-bulet-ozero-name: 's-bulet_ozero';
$s-bulet-ozero-x: 193px;
$s-bulet-ozero-y: 0px;
$s-bulet-ozero-offset-x: -193px;
$s-bulet-ozero-offset-y: 0px;
$s-bulet-ozero-width: 55px;
$s-bulet-ozero-height: 71px;
$s-bulet-ozero-total-width: 382px;
$s-bulet-ozero-total-height: 278px;
$s-bulet-ozero-image: '../img/sprite.png';
$s-bulet-ozero: (193px, 0px, -193px, 0px, 55px, 71px, 382px, 278px, '../img/sprite.png', 's-bulet_ozero', );
$s-bulet-sad-name: 's-bulet_sad';
$s-bulet-sad-x: 75px;
$s-bulet-sad-y: 145px;
$s-bulet-sad-offset-x: -75px;
$s-bulet-sad-offset-y: -145px;
$s-bulet-sad-width: 55px;
$s-bulet-sad-height: 71px;
$s-bulet-sad-total-width: 382px;
$s-bulet-sad-total-height: 278px;
$s-bulet-sad-image: '../img/sprite.png';
$s-bulet-sad: (75px, 145px, -75px, -145px, 55px, 71px, 382px, 278px, '../img/sprite.png', 's-bulet_sad', );
$s-bulet-school-name: 's-bulet_school';
$s-bulet-school-x: 268px;
$s-bulet-school-y: 0px;
$s-bulet-school-offset-x: -268px;
$s-bulet-school-offset-y: 0px;
$s-bulet-school-width: 55px;
$s-bulet-school-height: 71px;
$s-bulet-school-total-width: 382px;
$s-bulet-school-total-height: 278px;
$s-bulet-school-image: '../img/sprite.png';
$s-bulet-school: (268px, 0px, -268px, 0px, 55px, 71px, 382px, 278px, '../img/sprite.png', 's-bulet_school', );
$s-bulet-shop-name: 's-bulet_shop';
$s-bulet-shop-x: 118px;
$s-bulet-shop-y: 0px;
$s-bulet-shop-offset-x: -118px;
$s-bulet-shop-offset-y: 0px;
$s-bulet-shop-width: 55px;
$s-bulet-shop-height: 71px;
$s-bulet-shop-total-width: 382px;
$s-bulet-shop-total-height: 278px;
$s-bulet-shop-image: '../img/sprite.png';
$s-bulet-shop: (118px, 0px, -118px, 0px, 55px, 71px, 382px, 278px, '../img/sprite.png', 's-bulet_shop', );
$s-bulet-trees-name: 's-bulet_trees';
$s-bulet-trees-x: 0px;
$s-bulet-trees-y: 145px;
$s-bulet-trees-offset-x: 0px;
$s-bulet-trees-offset-y: -145px;
$s-bulet-trees-width: 55px;
$s-bulet-trees-height: 71px;
$s-bulet-trees-total-width: 382px;
$s-bulet-trees-total-height: 278px;
$s-bulet-trees-image: '../img/sprite.png';
$s-bulet-trees: (0px, 145px, 0px, -145px, 55px, 71px, 382px, 278px, '../img/sprite.png', 's-bulet_trees', );
$s-search-name: 's-search';
$s-search-x: 343px;
$s-search-y: 120px;
$s-search-offset-x: -343px;
$s-search-offset-y: -120px;
$s-search-width: 26px;
$s-search-height: 27px;
$s-search-total-width: 382px;
$s-search-total-height: 278px;
$s-search-image: '../img/sprite.png';
$s-search: (343px, 120px, -343px, -120px, 26px, 27px, 382px, 278px, '../img/sprite.png', 's-search', );
$s-triangle-name: 's-triangle';
$s-triangle-x: 118px;
$s-triangle-y: 91px;
$s-triangle-offset-x: -118px;
$s-triangle-offset-y: -91px;
$s-triangle-width: 51px;
$s-triangle-height: 29px;
$s-triangle-total-width: 382px;
$s-triangle-total-height: 278px;
$s-triangle-image: '../img/sprite.png';
$s-triangle: (118px, 91px, -118px, -91px, 51px, 29px, 382px, 278px, '../img/sprite.png', 's-triangle', );
$spritesheet-width: 382px;
$spritesheet-height: 278px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($s-1, $s-2, $s-3, $s-4, $s-5, $s-6, $s-7, $s-8, $s-arrow-select, $s-bg-li, $s-bg-li-hover, $s-bulet-kompleks, $s-bulet-logo, $s-bulet-ozero, $s-bulet-sad, $s-bulet-school, $s-bulet-shop, $s-bulet-trees, $s-search, $s-triangle, );
$spritesheet: (382px, 278px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
