/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-1-name: 's-1';
$s-1-x: 66px;
$s-1-y: 131px;
$s-1-offset-x: -66px;
$s-1-offset-y: -131px;
$s-1-width: 45px;
$s-1-height: 39px;
$s-1-total-width: 305px;
$s-1-total-height: 285px;
$s-1-image: '../img/sprite.png';
$s-1: (66px, 131px, -66px, -131px, 45px, 39px, 305px, 285px, '../img/sprite.png', 's-1', );
$s-2-name: 's-2';
$s-2-x: 0px;
$s-2-y: 0px;
$s-2-offset-x: 0px;
$s-2-offset-y: 0px;
$s-2-width: 64px;
$s-2-height: 42px;
$s-2-total-width: 305px;
$s-2-total-height: 285px;
$s-2-image: '../img/sprite.png';
$s-2: (0px, 0px, 0px, 0px, 64px, 42px, 305px, 285px, '../img/sprite.png', 's-2', );
$s-3-name: 's-3';
$s-3-x: 84px;
$s-3-y: 0px;
$s-3-offset-x: -84px;
$s-3-offset-y: 0px;
$s-3-width: 43px;
$s-3-height: 48px;
$s-3-total-width: 305px;
$s-3-total-height: 285px;
$s-3-image: '../img/sprite.png';
$s-3: (84px, 0px, -84px, 0px, 43px, 48px, 305px, 285px, '../img/sprite.png', 's-3', );
$s-4-name: 's-4';
$s-4-x: 131px;
$s-4-y: 131px;
$s-4-offset-x: -131px;
$s-4-offset-y: -131px;
$s-4-width: 47px;
$s-4-height: 33px;
$s-4-total-width: 305px;
$s-4-total-height: 285px;
$s-4-image: '../img/sprite.png';
$s-4: (131px, 131px, -131px, -131px, 47px, 33px, 305px, 285px, '../img/sprite.png', 's-4', );
$s-5-name: 's-5';
$s-5-x: 210px;
$s-5-y: 129px;
$s-5-offset-x: -210px;
$s-5-offset-y: -129px;
$s-5-width: 37px;
$s-5-height: 36px;
$s-5-total-width: 305px;
$s-5-total-height: 285px;
$s-5-image: '../img/sprite.png';
$s-5: (210px, 129px, -210px, -129px, 37px, 36px, 305px, 285px, '../img/sprite.png', 's-5', );
$s-6-name: 's-6';
$s-6-x: 0px;
$s-6-y: 131px;
$s-6-offset-x: 0px;
$s-6-offset-y: -131px;
$s-6-width: 46px;
$s-6-height: 40px;
$s-6-total-width: 305px;
$s-6-total-height: 285px;
$s-6-image: '../img/sprite.png';
$s-6: (0px, 131px, 0px, -131px, 46px, 40px, 305px, 285px, '../img/sprite.png', 's-6', );
$s-7-name: 's-7';
$s-7-x: 210px;
$s-7-y: 0px;
$s-7-offset-x: -210px;
$s-7-offset-y: 0px;
$s-7-width: 39px;
$s-7-height: 44px;
$s-7-total-width: 305px;
$s-7-total-height: 285px;
$s-7-image: '../img/sprite.png';
$s-7: (210px, 0px, -210px, 0px, 39px, 44px, 305px, 285px, '../img/sprite.png', 's-7', );
$s-8-name: 's-8';
$s-8-x: 0px;
$s-8-y: 62px;
$s-8-offset-x: 0px;
$s-8-offset-y: -62px;
$s-8-width: 50px;
$s-8-height: 49px;
$s-8-total-width: 305px;
$s-8-total-height: 285px;
$s-8-image: '../img/sprite.png';
$s-8: (0px, 62px, 0px, -62px, 50px, 49px, 305px, 285px, '../img/sprite.png', 's-8', );
$s-building-permit-name: 's-building_permit';
$s-building-permit-x: 147px;
$s-building-permit-y: 0px;
$s-building-permit-offset-x: -147px;
$s-building-permit-offset-y: 0px;
$s-building-permit-width: 43px;
$s-building-permit-height: 45px;
$s-building-permit-total-width: 305px;
$s-building-permit-total-height: 285px;
$s-building-permit-image: '../img/sprite.png';
$s-building-permit: (147px, 0px, -147px, 0px, 43px, 45px, 305px, 285px, '../img/sprite.png', 's-building_permit', );
$s-cadastral-extract-name: 's-cadastral_extract';
$s-cadastral-extract-x: 210px;
$s-cadastral-extract-y: 64px;
$s-cadastral-extract-offset-x: -210px;
$s-cadastral-extract-offset-y: -64px;
$s-cadastral-extract-width: 38px;
$s-cadastral-extract-height: 45px;
$s-cadastral-extract-total-width: 305px;
$s-cadastral-extract-total-height: 285px;
$s-cadastral-extract-image: '../img/sprite.png';
$s-cadastral-extract: (210px, 64px, -210px, -64px, 38px, 45px, 305px, 285px, '../img/sprite.png', 's-cadastral_extract', );
$s-charter-name: 's-charter';
$s-charter-x: 0px;
$s-charter-y: 191px;
$s-charter-offset-x: 0px;
$s-charter-offset-y: -191px;
$s-charter-width: 36px;
$s-charter-height: 45px;
$s-charter-total-width: 305px;
$s-charter-total-height: 285px;
$s-charter-image: '../img/sprite.png';
$s-charter: (0px, 191px, 0px, -191px, 36px, 45px, 305px, 285px, '../img/sprite.png', 's-charter', );
$s-evidence-ground-name: 's-evidence_ground';
$s-evidence-ground-x: 147px;
$s-evidence-ground-y: 65px;
$s-evidence-ground-offset-x: -147px;
$s-evidence-ground-offset-y: -65px;
$s-evidence-ground-width: 42px;
$s-evidence-ground-height: 45px;
$s-evidence-ground-total-width: 305px;
$s-evidence-ground-total-height: 285px;
$s-evidence-ground-image: '../img/sprite.png';
$s-evidence-ground: (147px, 65px, -147px, -65px, 42px, 45px, 305px, 285px, '../img/sprite.png', 's-evidence_ground', );
$s-inn-name: 's-inn';
$s-inn-x: 56px;
$s-inn-y: 191px;
$s-inn-offset-x: -56px;
$s-inn-offset-y: -191px;
$s-inn-width: 36px;
$s-inn-height: 45px;
$s-inn-total-width: 305px;
$s-inn-total-height: 285px;
$s-inn-image: '../img/sprite.png';
$s-inn: (56px, 191px, -56px, -191px, 36px, 45px, 305px, 285px, '../img/sprite.png', 's-inn', );
$s-land-name: 's-land';
$s-land-x: 112px;
$s-land-y: 191px;
$s-land-offset-x: -112px;
$s-land-offset-y: -191px;
$s-land-width: 36px;
$s-land-height: 45px;
$s-land-total-width: 305px;
$s-land-total-height: 285px;
$s-land-image: '../img/sprite.png';
$s-land: (112px, 191px, -112px, -191px, 36px, 45px, 305px, 285px, '../img/sprite.png', 's-land', );
$s-orgn-name: 's-orgn';
$s-orgn-x: 168px;
$s-orgn-y: 191px;
$s-orgn-offset-x: -168px;
$s-orgn-offset-y: -191px;
$s-orgn-width: 36px;
$s-orgn-height: 45px;
$s-orgn-total-width: 305px;
$s-orgn-total-height: 285px;
$s-orgn-image: '../img/sprite.png';
$s-orgn: (168px, 191px, -168px, -191px, 36px, 45px, 305px, 285px, '../img/sprite.png', 's-orgn', );
$s-project-declaration-name: 's-project_declaration';
$s-project-declaration-x: 269px;
$s-project-declaration-y: 0px;
$s-project-declaration-offset-x: -269px;
$s-project-declaration-offset-y: 0px;
$s-project-declaration-width: 36px;
$s-project-declaration-height: 45px;
$s-project-declaration-total-width: 305px;
$s-project-declaration-total-height: 285px;
$s-project-declaration-image: '../img/sprite.png';
$s-project-declaration: (269px, 0px, -269px, 0px, 36px, 45px, 305px, 285px, '../img/sprite.png', 's-project_declaration', );
$s-triangle-name: 's-triangle';
$s-triangle-x: 0px;
$s-triangle-y: 256px;
$s-triangle-offset-x: 0px;
$s-triangle-offset-y: -256px;
$s-triangle-width: 51px;
$s-triangle-height: 29px;
$s-triangle-total-width: 305px;
$s-triangle-total-height: 285px;
$s-triangle-image: '../img/sprite.png';
$s-triangle: (0px, 256px, 0px, -256px, 51px, 29px, 305px, 285px, '../img/sprite.png', 's-triangle', );
$spritesheet-width: 305px;
$spritesheet-height: 285px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($s-1, $s-2, $s-3, $s-4, $s-5, $s-6, $s-7, $s-8, $s-building-permit, $s-cadastral-extract, $s-charter, $s-evidence-ground, $s-inn, $s-land, $s-orgn, $s-project-declaration, $s-triangle, );
$spritesheet: (305px, 285px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
