@import "../mixin/_mixing.scss";
@import "_variables.scss";

.one {
	background: url("../img/bg_section_one.jpg") no-repeat top center;
	height: 776px;
	.description {
		p {
			background: rgba(255, 255, 255, 0.72);
			color: #272727;
			font-size: 35px;
			font-family: BebasNeueRegular;
			font-weight: 400;
			line-height: 46px;
			text-transform: uppercase;
			display: inline-block;
			margin: 0;	
			padding: 0 20px;
			span {
				color: #ff5300;
				font-size: 43px;
			}
			i {
				border-right: 2px solid #b5b5b5;
				display: inline-block;
				height: 27px;
				margin: 0 23px;
			}
		}
	}
}
.first_bottom {
	background: url("../img/bg_first_bottom.jpg") no-repeat top center;
	margin: 345px 0 0 0;
	// overflow: hidden;
	h1 {
		color: #272727;
		font-family: BebasNeueRegular;
		font-size: 55px;
		font-weight: 400;
		line-height: 60px;
		text-transform: uppercase;
		margin: 28px 0 29px 50px;
	}
	.first_section_right {
		p {
			color: #272727;
			font-family: BebasNeueRegular;
			font-weight: 400;
			font-size: 37px;
			line-height: 60px;
			margin: 28px 0 0 89px;
			text-transform: uppercase;
			.button {
				border: 3px solid white;
				color: #272727;
				font-size: 55px;
				margin: 0 0 0 9px;
				padding: 0 12px;
				text-decoration: none;
			}
		}
	}
}
.form_first_section {
	background: rgba(0, 0, 0, 0.66);
	padding: 28px 0;
	.btn {
		border-bottom: 3px solid #000;
		padding: 17px 32px;
		width: 100%;
	}
}
.stick {
	background-color: #ffba00;
	color: #272727;
	display: inline-block;
	font-family: BebasNeueRegular;
	font-size: 20px;
	font-weight: 400;
	left: 0;
	line-height: 39px;
	margin: 0;
	padding: 0 30px;
	position: absolute;
	text-transform: uppercase;
	top: -27px;
}
.too {
	background: url("../img/bg_too.png") no-repeat top center;
	padding: 26px 0 90px;
	h2 {
		color: #272727;
		font-family: OpenSansBold;
		font-size: 49px;
		font-weight: 700;
		line-height: 60px;
		margin-bottom: 77px;
		text-align: center;
		text-transform: uppercase;
	}
}
.item_too {
	margin: 0 0 56px 0;
	.img_too {
		img {
			border-radius: 22px;
			display: block;
		}
	}
	h3 {
		color: #272727;
		font-family: OpenSansBold;
		font-size: 21px;
		font-weight: 700;
		line-height: 60px;
		margin: 6px 0 -8px 0;
		text-align: center;
		text-transform: uppercase;
		&::after {
			border-bottom: 4px solid #ffba00;
			content: "";
			display: block;
			margin: -6px auto 0;
			height: 4px;
			width: 79px;
		}
	}
	p {
		color: #272727;
		font-family: OpenSansRegular;
		font-size: 16px;
		font-weight: 600;
		text-align: center;
	}
}
.tree {
	background: url("../img/bg_tree.jpg") no-repeat top center;
	border-top: 12px solid #ffba00;
	border-bottom: 12px solid #ffba00;
	height: 1010px;
	position: relative;
	.zag_tree {
		left: 0;
		position: absolute;
		text-align: center;
		top: -80px;
		width: 100%;
	}
	h2 {
		background: #ffba00;
		color: #272727;
		display: inline-block;
		font-family: OpenSansBold;
		font-size: 49px;
		font-weight: 700;
		line-height: 60px;
		margin: 0;
		padding: 25px 46px;
		text-align: center;
		text-transform: uppercase;
		position: relative;
		&::before {
			@include triangle(25, 69, #adadad, br);
			content: "";
			position: absolute;
			top: -1px;
			left: -25px;
		}
		&::after {
			@include triangle(25, 69, #adadad, bl);
			content: "";
			position: absolute;
			right: -25px;
			top: -1px;
		}
	}
}
.improvement {
	background: #fff;
	border: 3px solid #ffba00;
	display: block;
	padding: 14px 18px;
	position: absolute;
	width: 280px;
	&::after {
		@include sprite($s-triangle);
		content: "";
		display: block;
		position: absolute;
		bottom: -29px;
		left: 50%;
		margin: 0 0 0 -25px;
	}
	.item_left, .item_right {
		display: table-cell;
		vertical-align: middle;
	}
	p {
		color: #272727;
		font-family: OpenSansRegular;
		font-size: 15px;
		font-weight: 600;
		margin: 0;
		padding: 0 0 0 15px;
		text-align: left;
	}
	&.item_one {
		bottom: -830px;
		left: 845px;
		i {
			@include sprite($s-1);
			content: "";
			display: inline-block;
			float: left;
		}
	}
	&.item_zone {
		bottom: -455px;
		left: 495px;
		i {
			@include sprite($s-2);
			content: "";
			display: inline-block;
			float: left;
		}
	}
	&.item_tree {
		bottom: -195px;
		left: 640px;
		i {
			@include sprite($s-3);
			content: "";
			display: inline-block;
			float: left;
		}
	}
	&.item_four {
		left: 95px;
		top: 835px;
		i {
			@include sprite($s-4);
			content: "";
			display: inline-block;
			float: left;
		}
	}
	&.item_five {
		left: 250px;
		top: 545px;
		i {
			@include sprite($s-5);
			content: "";
			display: inline-block;
			float: left;
		}
	}
	&.item_six {
		left: 410px;
		padding: 5px 18px;
		top: 630px;
		width: 220px;
		&::after {
			left: 10px;
			margin: 0;
		}
		i {
			@include sprite($s-6);
			content: "";
			display: inline-block;
			float: left;
		}
	}
	&.item_seven {
		left: 60px;
		top: 625px;
		width: 205px;
		i {
			@include sprite($s-7);
			content: "";
			display: inline-block;
			float: left;
		}
	}
	&.item_eight {
		right: -5px;
		top: 477px;
		i {
			@include sprite($s-8);
			content: "";
			display: inline-block;
			float: left;
		}
	}
}
.layouts {
	padding: 63px 0 0;
	h2 {
		color: #272727;
		font-family: OpenSansBold;
		font-size: 49px;
		font-weight: 700;
		line-height: 60px;
		margin: 0 0 25px;
		text-align: center;
		text-transform: uppercase;
	}
	.form_row {
		text-align: center;
		h3 {
			color: #272727;
			font-family: OpenSansBold;
			font-size: 22px;
			font-weight: 700;
			line-height: 60px;
			text-align: center;
		}
	}
}
.staircase_img {
	position: relative;
}
.front_door {
	height: 65px;
	position: absolute;
	width: 142px;
	input[type=radio] {
		margin: 0px;
		padding: 0px;
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
	label {
		border: 3px solid #ffba00;
		border-radius: 37px;
		color: #272727;
		cursor: pointer;
		display: inline-block;
		font-family: OpenSansBold;
		font-size: 22px;
		font-weight: 700;
		line-height: 29px;
		height: 37px;
		width: 37px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -18px 0 0 -18px;
		z-index: 9999;
	}
}
.checked {
	background: #ffba00;
	label {
		border: 3px solid #fff;
	}
}
#staircase_1 {
	left: 11px;
	top: 8px;
	z-index: 9999;
}
#staircase_2 {
	left: 50%;
	margin-left: -70px;
	top: 8px;
}
#staircase_3 {
	right: 11px;
	top: 8px;
}
.floor_item {
	border-left: 1px solid #9b9b9b;
	border-right: 1px solid #9b9b9b;
	margin: 0 auto;
	position: relative;
	width: 79px;
	input[type=radio] {
		margin: 0px;
		padding: 0px;
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
	label {
		border: 3px solid transparent;
		border-radius: 37px;
		color: #272727;
		cursor: pointer;
		display: inline-block;
		font-family: OpenSansBold;
		font-size: 22px;
		font-weight: 700;
		line-height: 29px;
		height: 37px;
		margin: 0 0 23px 0;
		position: relative;
		width: 37px;
		z-index: 9999;
		&:hover, &.checked_floor {
			border: 3px solid #ffba00;
		}
	}
	&:last-child {
		label {
			margin: 0;
		}
	}
}
.name_apartment {
	border: 4px solid #ffba00;
	display: inline-block;
	margin: 35px 0 0;
	padding: 19px 40px;
	p {
		color: #272727;
		font-family: OpenSansBold;
		font-size: 22px;
		font-weight: 700;
		line-height: 22px;
		margin: 0;
	}
}
.apartament_item {
	position: absolute;
	text-indent: -9999px;
}
.apartment_wrap {
	position: relative;
	img {
		position: relative;
	}
}
#apartament_4 {
	background: url(../img/2apartament.png) no-repeat 0 0;
	display: block;
	height: 213px;
	right: 2px;
	top: 105px;
	width: 137px;
}
.apartament_wrap_item {
	position: absolute;
	input[type=radio] {
		margin: 0px;
		padding: 0px;
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
	label {
		bottom: 0;
		cursor: pointer;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		text-indent: -9999px;
		width: 100%;
		z-index: 9999;
	}
}
#apartament_wrap_item_1 {
	height: 213px;
	right: -13px;
	top: 1px;
	width: 137px;
	&.checked_apartament {
		label {
			background: url(../img/2apartament.png) no-repeat 0 0;
		}
	}
	label:hover {
		background: url(../img/2apartament.png) no-repeat 0 0;
	}
}
#apartament_wrap_item_2 {
	height: 151px;
	left: 1px;
	top: 1px;
	width: 136px;
	&.checked_apartament {
		label {
			background: url(../img/1apartament.png) no-repeat 0 0;
		}
	}
	label:hover {
		background: url(../img/1apartament.png) no-repeat 0 0;
	}
}
#apartament_wrap_item_3 {
	height: 180px;
	left: 200px;
	top: 1px;
	width: 134px;
	&.checked_apartament {
		label {
			background: url(../img/3apartament.png) no-repeat 0 0;
		}
	}
	label:hover {
		background: url(../img/3apartament.png) no-repeat 0 0;
	}
}
#apartament_wrap_item_4 {
	height: 180px;
	left: 333px;
	top: 1px;
	width: 134px;
	&.checked_apartament {
		label {
			background: url(../img/4apartament.png) no-repeat 0 0;
		}
	}
	label:hover {
		background: url(../img/4apartament.png) no-repeat 0 0;
	}
}
#apartament_wrap_item_5 {
	height: 150px;
	left: 1px;
	bottom: 2px;
	width: 136px;
	&.checked_apartament {
		label {
			background: url(../img/5apartament.png) no-repeat 0 0;
		}
	}
	label:hover {
		background: url(../img/5apartament.png) no-repeat 0 0;
	}
}
#apartament_wrap_item_6 {
	height: 150px;
	left: 140px;
	bottom: 2px;
	width: 128px;
	&.checked_apartament {
		label {
			background: url(../img/6apartament.png) no-repeat 0 0;
		}
	}
	label:hover {
		background: url(../img/6apartament.png) no-repeat 0 0;
	}
}
#apartament_wrap_item_7 {
	bottom: 23px;
	height: 188px;
	left: 245px;
	width: 87px;
	&.checked_apartament {
		label {
			background: url(../img/7apartament.png) no-repeat 0 0;
		}
	}
	label:hover {
		background: url(../img/7apartament.png) no-repeat 0 0;
	}
}
#apartament_wrap_item_8 {
	bottom: 23px;
	height: 188px;
	right: 231px;
	width: 87px;
	&.checked_apartament {
		label {
			background: url(../img/8apartament.png) no-repeat 0 0;
		}
	}
	label:hover {
		background: url(../img/8apartament.png) no-repeat 0 0;
	}
}
#apartament_wrap_item_9 {
	bottom: 2px;
	height: 150px;
	right: 123px;
	width: 128px;
	&.checked_apartament {
		label {
			background: url(../img/9apartament.png) no-repeat 0 0;
		}
	}
	label:hover {
		background: url(../img/9apartament.png) no-repeat 0 0;
	}
}
#apartament_wrap_item_10 {
	bottom: 1px;
	height: 180px;
	right: -12px;
	width: 135px;
	&.checked_apartament {
		label {
			background: url(../img/10apartament.png) no-repeat 0 0;
		}
	}
	label:hover {
		background: url(../img/10apartament.png) no-repeat 0 0;
	}
}
.form_layout_price {
	background: #434343;
	margin: 47px 0 0 0;
	padding: 36px 0 59px;
	position: relative;
	&::before {
		@include triangle(88, 37, #434343, t);
		content: "";
		display: block;
		margin: 0 -278px 0 0;
		position: absolute;
		top: -37px;
		right: 50%;

	}
	h3 {
		color: white;
		font-family: OpenSansBold;
		font-size: 32px;
		font-weight: 700;
		letter-spacing: 0.8px;
		line-height: 60px;
		margin: 0 0 22px;
		text-transform: uppercase;
	}
	.btn {
		padding: 17px 32px;
		text-transform: uppercase;
		width: 100%;
	}
}
.document {
	background: url("../img/bg_document.jpg") no-repeat top center;
	border-bottom: 12px solid #ffba00;
	 padding: 0 0 111px;
	h2 {
		color: white;
		font-family: OpenSansBold;
		font-size: 49px;
		font-weight: 700;
		line-height: 50px;
		margin: 87px 0 72px 0;
		text-align: center;
		text-transform: uppercase;
	}
}
.doc_item {
	background: #ffba00;
	cursor: pointer;
	height: 113px;
	margin: 0 0 32px 0;
	padding: 9px;
	.doc_item_wrap {
		border: 1px solid transparent;
		display: table-cell;
		height: 96px;
		position: relative;
		vertical-align: middle;
		width: 244px;
		a {
			color: #272727;
			display: inline-block;
			font-family: BebasNeueRegular;
			font-size: 31px;
			font-weight: 400;
			line-height: 1;
			padding: 0 0 0 65px;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
	&:hover {
		background: #f15400;
		.doc_item_wrap {
			border: 1px solid #fff;
			a {
				color: #fff;
				i {
					color: #fff;
				}
			}
		}
	}
}
.snip {
	background: url("../img/bg_snip.jpg") no-repeat top center;
	h2 {
		color: #272727;
		font-family: OpenSansBold;
		font-weight: 700;
		line-height: 50px;
		text-transform: uppercase;
		font-size: 49px;
		text-align: center;
		margin: 0 0 2px 0;
		padding: 43px 0 0 0;
		span {
			font-size: 39px;
		}
	}
	.snip_zag {
		color: #272727;
		font-family: OpenSansBold;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 35px;
		text-align: center;
		margin: 0 0 46px 0;
	}
	.row:last-child {
		margin-bottom: 64px;
	}
}
.item_snip {
	@include clearfix;
	background: rgba(#fff, .64);
	border-top: 1px solid #ffba00;
	margin: 0 0 0 70px;
	.col-md-1 {
		margin: -1px 0 0 -27px;
		&::after {
			@include triangle(12, 7, #b3b2b0, tr);
			content: "";
			display: block;
			position: absolute;
			bottom: -7px;
			left: 15px;
		}
	}
	h3 {
		color: #272727;
		font-family: BebasNeueBold;
		font-size: 28px;
		font-weight: 400;
		margin: 3px 0 -2px;
		text-transform: uppercase;
	}
	p {
		color: #272727;
		font-family: OpenSansRegular;
		font-size: 17px;
		font-weight: 600;
		margin: 0 0 9px;
	}
}
.payment {
	background: url("../img/bg_payment.jpg") no-repeat top center;
	padding: 67px 0 91px 0;
	h2 {
		color: #272727;
		font-family: OpenSansBold;
		font-size: 49px;
		font-weight: 700;
		line-height: 50px;
		margin: 0 0 62px;
		text-align: center;
		text-transform: uppercase;
	}
}

.tabs {
	.tabs__caption {
		margin: 0;
		padding: 0;
		text-align: center;
		li {
			@include linear-gradient(to bottom, #d6d6d6, #b2b2b2);
			display: inline-block;
			cursor: pointer;
			color: #272727;
			font-family: BebasNeueBold;
			font-size: 33px;
			font-weight: 400;
			padding: 26px 43px;
			&::after {
				border-bottom: 3px solid #fff;
				content: "";
				display: block;
			}
			&.active, &:hover {
				@include linear-gradient(to bottom, #ffba00, #d69d01);
			}
		}
	}
	.tabs__content {
		background: #fff;
		display: none;
		margin: 0 auto;
		padding: 42px 0 57px;
		width: 1304px;
		h4 {
			color: #272727;
			font-family: OpenSansBold;
			font-size: 23px;
			font-weight: 700;
			margin: 0 0 11px;
			text-align: center;
			text-transform: uppercase;
		}
		.tab_zag {
			background-color: #d6d6d6;
			color: #272727;
			display: inline-block;
			font-family: OpenSansBold;
			font-size: 20px;
			font-weight: 700;
			padding: 6px 23px;
			margin: 0 0 37px;
			text-transform: uppercase;
		}
		.mat_cap {
			margin: 0 0 67px;
		}
		.col-md-4 {
			.tab_zag {
				margin: 0 0 43px -20px;
			}
		}
		img {
			display: inline-block;
			margin: 0 30px 0 0;
		}
		.jq-selectbox {
			width: 100%;
			.jq-selectbox__select {
				background: #fff;
				box-shadow: none;
				border: 2px solid #272727;
				border-radius: 3px;
				height: auto;
				padding: 11px 45px 11px 10px;
				.jq-selectbox__select-text {
					color: #272727;
					font-family: OpenSansBold;
					font-size: 18px;
					font-weight: 700;
					width: auto !important;
				}
				.jq-selectbox__trigger {
					background: #ffba00;
					border-left: medium none;
					height: 100%;
					position: absolute;
					right: 0;
					top: 0;
					width: 55px;
					.jq-selectbox__trigger-arrow {
						@include sprite($s-arrow_select);
						border: 0 none;
						right: auto;
						top: 50%;
						left: 50%;
						margin: -7px 0 0 -10px;
					}
				}
			}
			.jq-selectbox__dropdown {
				background: rgba(#000, .55);
				border: 0 none;
				border-radius: 0;
				box-shadow: none;
				top: 56px !important;
				li {
					color: #fff;
					font-family: OpenSansRegular;
					font-size: 17px;
					font-weight: 400;
					line-height: 23px;
					padding: 5px 21px;
					&.selected, &:hover {
						background: transparent;
						color: #ffba00;
					}
				}
			}
		}
		
		input[type=text], input[type=tel] {
			border: 2px solid #272727;
			color: #272727;
			font-family: OpenSansBold;
			font-size: 18px;
			font-weight: 700;
			margin: 0 0 46px 0;
		}
		.btn {
			text-align: center;
		}
	}
	.tabs__content.active {
		display: block;
	}
}
.map {
	background: url(../img/bg_map.jpg) no-repeat top center;
	min-height: 1069px;
	position: relative;
	h2 {
		background: #fff;
		border: 11px solid #ffba00;
		color: #272727;
		font-family: OpenSansBold;
		font-size: 35px;
		font-weight: 700;
		line-height: 50px;
		margin: 54px 0 0;
		padding: 34px 0 35px;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		&::after {
			@include triangle(78, 43, #ffba00, b);
			bottom: -54px;
			content: "";
			display: block;
			position: absolute;
			left: 50%;
			margin: 0 0 0 -39px;
		}
	}
}
.col-red {
	background: #e75000;
	bottom: 0;
	padding: 31px 0 24px 0;
	position: absolute;
	width: 1170px;
	.col-md-3 {
		width: 27%;
	}
	.col-md-5 {
		width: 39%;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0 0 0 20px;
		li {
			font-family: OpenSansRegular;
			font-size: 18px;
			font-weight: 600;
			text-decoration: underline;
			color: white;
			margin: 0 0 16px;
			padding: 0 0 0 37px;
			position: relative;
			&:before {
				@include sprite($s-bg_li);
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -11px;
			}
			&:hover {
				&:before {
				@include sprite($s-bg_li_hover);
					content: "";
				}
			}
			a {
				color: #fff;
				&:hover {
					color: #000;
				}
			}
		}
	}
	p {
		color: white;
		font-family: OpenSansRegular;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		margin: 0;
		a {
			color: #fff;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
.bullet_logo {
	@include sprite($s-bulet_logo);
	position: absolute;
	right: 454px;
	top: 98px;
}
.bulet_kompleks {
	@include sprite($s-bulet_kompleks);
	display: none;
	position: absolute;
	right: 57px;
	top: 233px;
}
.bulet_ozero {
	@include sprite($s-bulet_ozero);
	display: none;
	position: absolute;
	right: 305px;
	top: 305px;
}
.bulet_sad {
	@include sprite($s-bulet_sad);
	display: none;
	position: absolute;
	right: 241px;
	top: 150px;
}
.bulet_school {
	@include sprite($s-bulet_school);
	display: none;
	position: absolute;
	right: 149px;
	top: 150px;
}
.bulet_shop {
	@include sprite($s-bulet_shop);
	display: none;
	position: absolute;
	right: 85px;
	top: 150px;
}
.bulet_trees {
	@include sprite($s-bulet_trees);
	display: none;
	position: absolute;
	right: 544px;
	top: 310px;
}
.order_taxi {
	background: url("../img/bg_order_taxi.jpg") no-repeat top center;
	padding: 73px 0 80px 0;
	h2 {
		color: #272727;
		font-family: OpenSansBold;
		font-size: 41px;
		font-weight: 700;
		line-height: 57px;
		margin: 0 0 24px;
		text-align: center;
		text-transform: uppercase;
	}
	.text-center {
		h3 {
			background-color: #dadada;
			color: #272727;
			display: inline-block;
			font-family: OpenSansBold;
			font-size: 34px;
			font-weight: 700;
			line-height: 57px;
			margin: 0 0 56px 0;
			padding: 2px 27px;
			text-transform: uppercase;
		}
		
	}
	input[type=text], input[type=tel] {
		background: rgba(#fff, .50);
		border: 2px solid #272727;
		color: #272727;
		font-family: OpenSansBold;
		font-size: 18px;
		font-weight: 700;
		margin: 0 0 46px 0;
	}
}
.col-orange {
	background: #ffba00;
	margin: 0 0 46px 0;
	&::before {
		border-color: transparent transparent #ffba00;
	}
	h3 {
		color: #272727;
		font-size: 28px;
	}
	input[type=text], input[type=tel], input[type=email] {
		border-color: #272727;
		color: #272727;
		@include placeholder {
			color: #272727;
		}
	}
	.btn {
		border-color: #664a00;
	}
}
.no-bg {
	background: transparent;
}