@import "../mixin/_mixing.scss";
@import "_variables.scss";

html, body {
	height: 100%;
}
.content {
	min-height: 100%;
}
.main {
	overflow:auto;
	padding-bottom: 360px;
}
h1, h2, h3, h4, h5, h6 {
	
}
h1, h2 {
	color: #272727;
	font-family: OpenSansBold;
	font-size: 30px;
	font-weight: 700;
	line-height: 60px;
	margin: 23px 0 41px;
	text-transform: uppercase;
}
p {
	color: #272727;
	font-family: OpenSansRegular;
	font-size: 17px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 24px;
}
table {
	border: 1px solid #acacac;
	td {
		padding-top: 13px;
		padding-bottom: 13px;
		&:first-child {
			color: #272727;
			font-family: OpenSansBold;
			font-size: 17px;
			font-weight: 700;
			line-height: 1;
			padding-left: 30px;
			padding-right: 35px;
			// min-width: 210px;
		}
		&:last-child {
			color: #272727;
			font-family: OpenSansRegular;
			font-size: 17px;
			font-weight: 400;
			line-height: 1;
			padding-right: 30px;
			min-width: 100px;
		}
	}
}
.btn {
	border-top: none;
	border-left: none;
	border-right: none;
	background: linear-gradient(to bottom, #f15400, #ca4600);
	border-bottom: 3px solid #b1b1b1;
	border-radius: 4px;
	color: white;
	font-family: OpenSansBold;
	font-size: 16px;
	font-weight: 700;
	padding: 12px 32px;
	&:hover {
		background: linear-gradient(to bottom, #ca4600, #f15400);
		color: #fff;
		text-decoration: none;
	}
}
.page_img {
	margin: 0 0 26px 0;
}
input[type="text"],
input[type="tel"],
input[type="email"] {
	background: transparent;
	border: 2px solid white;
	border-radius: 3px;
	color: white;
	font-family: OpenSansRegular;
	font-size: 18px;
	font-weight: 700;
	padding: 14px 26px;
	width: 100%;
}
.vc_row[data-vc-full-width] {
    overflow: initial;
    // transition: opacity 0.5s ease 0s;
}
.icon-5:before { content: '\e800'; } /* '' */
.icon-6:before { content: '\e801'; } /* '' */
.icon-7:before { content: '\e802'; } /* '' */
.icon-8:before { content: '\e803'; } /* '' */
.icon-4:before { content: '\e804'; } /* '' */
.icon-3:before { content: '\e805'; } /* '' */
.icon-1:before { content: '\e806'; } /* '' */
.icon-2:before { content: '\e807'; } /* '' */
.demo-icon {
	color: #333;
	display: block;
	font: 45px myfont;
	left: 15px;
	margin-top: -23px;
	position: absolute;
	top: 50%;
}
.text-center {
	text-align: center;
}
.text-rigth {
	text-align: right;
}
.breadcrumbs {
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0;
	li {
		border-right: 1px solid #272727;
		display: inline-block;
		color: #272727;
		font-family: OpenSansRegular;
		font-size: 12px;
		font-weight: 600;
		padding: 0 10px;
		a {
			color: #272727;
			font-family: OpenSansRegular;
			font-size: 12px;
			font-weight: 600;
			&:hover {
				font-family: OpenSansRegular;
				color: #f15400;
				font-weight: 700;
				text-decoration: underline;
			}
		}
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			border: 0 none;
			color: #f15400;
			font-family: OpenSansRegular;
			font-size: 12px;
			font-weight: 600;
			text-decoration: underline;
			a {
				color: #f15400;
				font-family: OpenSansRegular;
				font-size: 12px;
				font-weight: 600;
				&:hover {
					font-family: OpenSansRegular;
					color: #f15400;
					font-weight: 700;
					text-decoration: underline;
				}
			}
		}
	}
}